<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
        <style>body {padding: 10px;}</style>
    </head>
    <body>
        <h1>{{ message }}</h1>
        <p>{{ description }}</p>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'blog:detail' article.id %}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <p>
            <a href="{% url 'blog:create' %}">新規作成</a>
        </p>
    </body>
</html>